# Latest version 
requests
Django
django-environ
python-dotenv
django-cors-headers
django-extensions
djangorestframework
django-guardian
django-oauth-toolkit
Pillow
gunicorn
ibm-cloud-sdk-core
ibm-watson
ibmcloudant
sendgrid
