body {
  background: lightcyan;
}

.anchor {
  margin-left: 5px;
  color: whitesmoke;
  padding: 5px;
  text-decoration: none;
}

.anchor:hover {
  text-decoration: none;
  color: red;
}

.text_label {
  padding-top: 10px;
  font-style: oblique;
}

.seperator {
  margin: 100px 0 0 100px;
}

.r-anchor {
  text-align: right;
  /* margin-right: 5px; */
}

.redg {
  margin-right: 5px;
  color: whitesmoke;
  padding: 5px;
}

.rounded {
  border-radius: 30%;
}

.ctc_form {
  width: 250px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  text-align: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
  background-color: cornflowerblue;
  color: antiquewhite;
}