<!--{% comment %} This is only a demo webpage. Here indeed, you should use layout {%endcomment %} -->
{%load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dealership Review</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script defer src="{% static 'javascript/style.js' %}"></script>
  </head>

  <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/about_us/" class="anchor">About Us</a>
          <a href="#" class="anchor">Car Gurus</a>
          <a href="#" class="anchor">Our Partner</a>
          <a href="/djangoapp/contact_us/" class="anchor">Contact</a>
        </div>
        <div class="r-anchor">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
              <a class="btn btn-link" href="#"
                >{{ user.first_name }}({{ user.username }})</a
              >
              <a class="btn btn-link" href="{% url 'djangoapp:logout' %}"
                >Logout</a
              >
            </li>
            {% else %}
            <li>
              <form
                class="form-inline"
                action="{% url 'djangoapp:login' %}"
                method="post"
              >
                {% csrf_token %}
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    name="username"
                  />
                  <input
                    type="password"
                    class="form-control"
                    placeholder="password"
                    name="psw"
                  />
                  <button class="btn btn-primary" type="submit">Login</button>
                  <a
                    class="btn btn-link"
                    href="{% url 'djangoapp:registration' %}"
                    >Sign Up</a
                  >
                </div>
              </form>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!--remove seperator-->
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5 display-2">AKA Cars</h1>
        <p class="lead">
          Get an offer for super cars in less than 2 minutes. It is simple easy
          online in 3 steps.<br />
          Enter a few details and leave pickup to us.
          <br />
          <label for="loc" class="text_label">Location: </label>
          <input
            type="text"
            placeholder="Your location"
            name="loc"
            class="mb-2"
          />
          <br />
          <label for="statecode" class="text_label">State Code: </label>
          <input
            type="text"
            placeholder="State or postal Code"
            name="statecode"
            class="mb-2"
          />
          <br />
          <label for="phone" class="text_label">Phone Number: </label>
          <input
            type="phone"
            placeholder="Phone number"
            name="phone"
            class="mb-2"
          />
          <br />
          <button class="btn btn-outline-secondary btn-lg px-4">Send</button>
        </p>
      </div>
    </main>

    <div class="seperator">
      <div class="devider-sep"></div>
    </div>
    <!-- Cars -->
    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">Super cars for simple price</h2>

      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('/static/images/a.png')"
          >
            <div
              class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1"
            >
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                The image to change
              </h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img
                    src="/static/images/a.png"
                    alt="sample image"
                    width="32"
                    height="32"
                    class="rounded-circle border border-white"
                  />
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>Kanberra</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small>3d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('/static/images/a.png')"
          >
            <div
              class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1"
            >
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                The image to change
              </h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img
                    src="/static/images/a.png"
                    alt="sample image"
                    width="32"
                    height="32"
                    class="rounded-circle border border-white"
                  />
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>London</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small>4d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div
            class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('/static/images/a.png')"
          >
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                The image to change
              </h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img
                    src="/static/images/a.png"
                    alt="sample image"
                    width="32"
                    height="32"
                    class="rounded-circle border border-white"
                  />
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>California</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small>5d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="seperator">
      <div class="devider-sep"></div>
    </div>
    <!-- Footer -->
    <div class="container mt-4 border-top">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>AKA Cars</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">About Us</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Pricing</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Reviews</a>
              </li>
              <li class="nav-item mb-2">
                <a
                  href="/djangoapp/contact_us/ "
                  class="nav-link p-0 text-muted"
                  >Contact</a
                >
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Service</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Partners</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Buy</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Warranty</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Delivery</a>
              </li>
            </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden"
                  >Email address</label
                >
                <input
                  id="newsletter1"
                  type="text"
                  class="form-control"
                  placeholder="Email address"
                />
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>

        <div
          class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
        >
          <p>&copy; 2023 Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3">
              <a class="link-dark" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#twitter" /></svg
              ></a>
            </li>
            <li class="ms-3">
              <a class="link-dark" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#instagram" /></svg
              ></a>
            </li>
            <li class="ms-3">
              <a class="link-dark" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#facebook" /></svg
              ></a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
