<!--{% comment %}  {% endcomment %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
<!--     <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';"/> -->
    <meta name="viewport" name="width=device-width, inital-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="IBM Capstone Project" />
    <meta name="keywords" content="Django Flask WedDev HTML/CSS JS Jinja2" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow,nosnippet" />
    <meta name="googlebot" content="noindex,noarchive,nosnippet" />
    <!--   <meta
      http-equiv="Cache-Control"
      content="no-cache, not-store must-revalidate"
    /> -->
    <!-- <meta http-equiv="Pragma" content="no-cache" /> -->
    <meta http-http-equiv="Expires" content="0" />
    <meta name="author" content="Kanatbek-AKA" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />
     <!-- Local Bootstrap -->
  <link
  rel="stylesheet"
  href="{% static 'bootstrap/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}"/>
  <script defer scr="{% static 'bootstrap/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
  <link
  href="{% static 'bootstrap/bootstrap-table-master/bootstrap-table-master/dist/bootstrap-table.min.css' %}"
  rel="stylesheet"/>
  <script defer
  href="{% static 'bootstrap/bootstrap-table-master/bootstrap-table-master/dist/bootstrap-table.min.js' %}"
  ></script>
  <script defer scr="{% static 'bootstrap/jquery-3.3.1.min.js' %}"></script>
  <!-- Table Filter  -->
  <link
  href="{% static 'bootstrap/bootstrap-table-master/bootstrap-table-master/dist/extensions/filter-control/bootstrap-table-filter-control.min.css' %}"
  rel="stylesheet"/>
  <script defer
  href="{% static 'bootstrap/bootstrap-table-master/bootstrap-table-master/dist/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"
  ></script>
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-light bg-warning">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a class="btn btn-link" href="#"
              >{{ user.first_name }}({{ user.username }})</a
            >
            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}"
              >Logout</a
            >
          </li>
          {% else %}
          <li>
              <a
              class="btn btn-link text-decoration-none"
              href="{% url 'djangoapp:login' %}"
              >Login
            </a>
            <a
            class="btn btn-link text-decoration-none"
            href="{% url 'djangoapp:registration' %}"
            >Sign Up
          </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <form action="{% url 'djangoapp:registration' %}" method="post" class="mt-5">
      <div class="container">
        {% csrf_token %}
        <h1>Sign Up</h1>
        <hr />
        <div class="form-group">
          <label for="username"><b>User Name</b></label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter User Name: "
            name="username"
            required
          />

          <label for="firstname"><b>First Name</b></label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter First Name: "
            name="firstname"
            required
          />

          <label for="lastname"><b>Last Name</b></label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Last Name: "
            name="lastname"
            required
          />

          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter Password: "
            name="psw"
            required
          />

          {% if message %}
          <div class="alert alert-warning">{{ message }}</div>
          {% endif %}
          <button class="btn btn-primary" type="submit">Sign up</button>
        </div>
      </div>
    </form>
  </body>
</html>
