<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  {% load static %}
  <!-- Local Css/Js -->
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/reviewed.css' %}"
  />

  <!-- CDN -->
  <!-- Bootstrap latest -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
  
  <!-- Bootstrap Table -->
  <!-- <link
  rel="stylesheet"
  href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css"
  /> -->
</head>
<body>
  <main>
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="{% url 'djangoapp:index' %}" class="anchor">Home</a>
          <a href="{% url 'djangoapp:about' %}" class="anchor">About Us</a>
          <a href="{% url 'djangoapp:dealerships' %}" class="anchor"
          >Dearlers</a
          >
          <a href="{% url 'djangoapp:reviews' %}" class="anchor">Reviews</a>
          <a href="{% url 'djangoapp:contact' %}" class="anchor">Contact</a>
        </div>
        <div class="r-anchor">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
              <a class="btn btn-link" href="#"
              >{{ user.first_name }}({{ user.username }})</a
              >
              <a class="btn btn-link" href="{% url 'djangoapp:logout' %}"
              >Logout</a
              >
            </li>
            {% else %}
            <li>
              <a
              class="btn btn-link text-primary text-decoration-none"
              data-toggle="modal" data-target="#loginModal" data-whatever="user"
              >Login
            </a>
            <a
            class="btn btn-link text-primary text-decoration-none"
            data-toggle="modal" data-target="#regsModal" data-whatever="user"
            >Sign Up
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <!-- Bootstrap Modal -->
  <!--Pop-Up  Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'djangoapp:login' %}" method="post" class="mt-5">
            {% csrf_token %}
            <div class="container">
              <h1>Login</h1>
              <div class="form-group">
                <label for="username"><b>User Name</b></label>
                <input
                id="username"
                class="form-control"
                type="text"
                placeholder="Enter User Name: "
                name="username"
                required
                />

                <label for="psw"><b>Password</b></label>
                <input
                id="psw"
                class="form-control"
                type="password"
                placeholder="Enter Password: "
                name="psw"
                required
                />
              </div>
              {% if message %}
              <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </form>
        </div>
        <!--       <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="sample_msg_csr" data-dismiss="modal" >Send message</button>
              </div> -->
            </div>
          </div>
        </div>
        <!-- SignUp -->
        <div class="modal fade" id="regsModal" tabindex="-1" role="dialog" aria-labelledby="regsLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="regsLabel">Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 'djangoapp:registration' %}" method="post" class="mt-5">
                  <div class="container">
                    {% csrf_token %}
                    <h1>Sign Up</h1>
                    <hr />
                    <div class="form-group">
                      <label for="username"><b>User Name</b></label>
                      <input
                      type="text"
                      class="form-control"
                      placeholder="Enter User Name: "
                      name="username"
                      required
                      />

                      <label for="firstname"><b>First Name</b></label>
                      <input
                      type="text"
                      class="form-control"
                      placeholder="Enter First Name: "
                      name="firstname"
                      required
                      />

                      <label for="lastname"><b>Last Name</b></label>
                      <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Last Name: "
                      name="lastname"
                      required
                      />

                      <label for="psw"><b>Password</b></label>
                      <input
                      type="password"
                      class="form-control"
                      placeholder="Enter Password: "
                      name="psw"
                      required
                      />

                      {% if message %}
                      <div class="alert alert-warning">{{ message }}</div>
                      {% endif %}
                      <button class="btn btn-primary" type="submit">Sign up</button>
                    </div>
                  </div>
                </form>
              </div>
<!--               <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="sample_msg" data-dismiss="modal">Send message</button>
              </div> -->
            </div>
          </div>
        </div>
        <!-- JQuery -->
        <script type="text/javascript">
          $('#loginModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget) // Button that triggered the modal
                    var login = button.data('whatever') // Extract info from data-* attributes
                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this)
                    modal.find('.modal-title').text('Login ' + login)
                    // modal.find('.modal-body input').val(contact)
                  }) 

          $('#regsModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget) // Button that triggered the modal
                    var regr = button.data('whatever') // Extract info from data-* attributes
                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this)
                    modal.find('.modal-title').text('New ' + regr + ' registration')
                    // modal.find('.modal-body input').val(contact)
                  })

                </script>
    </nav>



              <div class="seperator">
                <div class="devider-sep"></div>
              </div>

              <header>
                <h2 class="head2">Clients feedbacks/reviews</h2>
              </header>

              <!--Add review form here -->
              <!-- Adding sentimental analysis for authenticated users to view dealerships  -->
              <section class="sentiment" id="sentiment">
                {% if user.is_authenticated %}
                <div class="inner_sentiment">
                  <div class="columns_own">
                    {% for test in data %}
                    <!-- Here is sentiment analysis to define -->
                    {% for anal_test in analyse.keywords %}
                    <!--indent  -->
                    {% if test %}
                    {% if anal_test.text %}
                    <!-- indent -->
                    {% if anal_test.sentiment.label == 'positive' %}
                    <div class="d-inline-flex p-2 mx-auto">
                      <a href="{% url 'djangoapp:reviews' %}" target="_self" rel="noopener noreferrer" class="card_ref">
                        <div class="card" style="width: 20rem;">
                          <div class="card-body bg-primary rounded-4 mb-4">
                            <img
                            class="card-img-left mb-3"
                            src="{{MEDIA_URL}}/emoji/positive.png"
                            width="40px"
                            height="20px"
                            />
                            &nbsp; &nbsp;<span class="text-decoration-none">{{ anal_test.sentiment.label }}</span>
                            <hr />
                            <!-- When the Cloudant API or Functions-Action Urls fail, render the local data-->
                            {% if test.doc %}
                            <div class="card-title">
                              <span class="mb-3 text-decoration-none">
                                {{test.doc.car_make}} &nbsp; {{test.doc.car_model}}</span
                                >
                                <div class="card-subtitle mb-3 text-decoration-none">
                                  {{ test.doc.car_year }}
                                  <div class="card-text text-decoration-none">{{ test.doc.review }}</div>
                                </div>
                              </div>
                              {% else %}
                              <div class="card-title">
                                <span class="mb-3 text-decoration-none">
                                  {{test.car_make}} &nbsp; {{test.car_model}}</span
                                  >
                                  <div class="card-subtitle mb-3 text-decoration-none">
                                    {{ test.car_year }}
                                    <div class="card-text text-decoration-none">{{ test.review }}</div>
                                  </div>
                                </div>

                                {% endif %}
                              </div>
                            </div>
                          </a>
                        </div>
                        {% elif anal_test.sentiment.label == 'neutral' %}
                        <div
                        class="d-inline-flex flex-row justify-content-center align-items-center p-2 mx-auto"
                        >
                        <a href="{% url 'djangoapp:reviews' %}" target="_self" rel="noopener noreferrer" class="card_ref">
                          <div class="card rounded-4" style="width: 20rem;">
                            <div class="card-body text-dark mb-4">
                              <img
                              class="card-img-left mb-0"
                              src="{{MEDIA_URL}}/emoji/neutral.png"
                              width="40px"
                              height="20px"
                              />
                              &nbsp; &nbsp;<span class="text-decoration-none">{{ anal_test.sentiment.label }}</span>
                              <hr />
                              <!-- When the Cloudant API or Functions-Action Urls fail, render the local data-->
                              {% if test.doc %}
                              <div class="card-title">
                                <span class="mb-3 text-decoration-none">
                                  {{test.doc.car_make}} &nbsp; {{test.doc.car_model}}</span
                                  >
                                  <div class="card-subtitle mb-3 text-decoration-none">
                                    {{ test.doc.car_year }}
                                    <div class="card-text text-decoration-none">{{ test.doc.review }}</div>
                                  </div>
                                </div>
                                {% else %}
                                <div class="card-title">
                                  <span class="mb-3 text-decoration-none">
                                    {{test.car_make}} &nbsp; {{test.car_model}}</span
                                    >
                                    <div class="card-subtitle mb-3 text-decoration-none">
                                      {{ test.car_year }}
                                      <div class="card-text text-decoration-none">{{ test.review }}</div>
                                    </div>
                                  </div>

                                  {% endif %}
                                </div>
                              </div>
                            </a>
                          </div>
                          {% else %}
                          <div class="d-inline-flex p-2 mx-auto">
                            <a href="{% url 'djangoapp:reviews' %}" target="_self" rel="noopener noreferrer" class="card_ref">
                              <div class="card" style="width: 20rem;">
                                <img
                                class="card-img-left"
                                src="{{MEDIA_URL}}/emoji/negative.png"
                                width="40px"
                                height="20px"
                                />
                                &nbsp; &nbsp;<span class="text-decoration-none">{{ anal_test.sentiment.label }}</span> 
                                <hr />
                                <!-- When the Cloudant API or Functions-Action Urls fail, render the local data-->
                                {% if test.doc %}
                                <div class="card-title">
                                  <span class="mb-3 text-decoration-none">
                                    {{test.doc.car_make}} &nbsp; {{test.doc.car_model}}</span
                                    >
                                    <div class="card-subtitle mb-3 text-decoration-none">
                                      {{ test.doc.car_year }}
                                      <div class="card-text text-decoration-none">{{ test.doc.review }}</div>
                                    </div>
                                  </div>
                                  {% else %}
                                  <div class="card-title">
                                    <span class="mb-3 text-decoration-none">
                                      {{test.car_make}} &nbsp; {{test.car_model}}</span
                                      >
                                      <div class="card-subtitle mb-3 text-decoration-none">
                                        {{ test.car_year }}
                                        <div class="card-text text-decoration-none">{{ test.review }}</div>
                                      </div>
                                    </div>

                                    {% endif %}
                                  </div>
                                </div>
                              </a>
                            </div>
                            <!-- Close sentiment label if statement -->
                            {% endif %}
                            <!-- Close analyst if statement -->
                            {% endif %}  
                            <!-- Close test if statement -->  
                            {% endif %}
                            <!-- close analyst  for loop-->
                            {% endfor %}
                            <!-- close test for loop- -->
                            {% endfor %}
                          </div>
                        </div>

                        <!-- In case the sentiment analysis API failed, display warning text-->
                        <div> 
                          <div class="card-text text-warning px-auto mx-auto h5">
                            {{ warning }} &nbsp;              
                            <a href="{% url 'djangoapp:dealerships' %}" rel="noopener nofollower" target="_self" class="text-decoration-none"><input type="button" value="Back" class="btn bg-warning text-primary"></a>  
                          </div>
                        </div>
                        {% else %}
                        <div class="warn">
                          <div>Hey, we would be happy if you authenticate yourself to view and share your reviews.
                            <a href="{% url 'djangoapp:dealerships' %}" rel="noopener nofollower" target="_self" class="text-decoration-none"><input type="button" value="Back" class="btn bg-primary text-white"></a>
                          </div>
                        </div>
                        <!-- Close user if statement -->
                        {% endif %}
                      </section>


                      <div class="seperator">
                        <div class="devider-sep"></div>
                      </div>
                    </main>
                    <!-- JS -->
                    <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                    crossorigin="anonymous"
                    ></script>
                    <!-- JQuery -->
                    <script
                    src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
                    integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
                    crossorigin="anonymous"
                    ></script>
                    <!-- Ajax -->
                    <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
                    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
                    crossorigin="anonymous"
                    referrerpolicy="no-referrer"
                    ></script>

                    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
                    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
                  </body>
                  </html>
